<!DOCTYPE html>
<html>
  <head>
    <title>Projectx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if user_signed_in? %>
      <%= render "partials/flash" if flash %>
      <%= render 'layouts/nav' %>
    <% end %>
    <% if user_signed_in? %>
      <%= yield %>
    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
